@using Clockwork.Vault.Dao.Models.Tidal
@model Clockwork.Vault.Query.Tidal.ViewModels.TidalAlbumExpanded

@Html.Partial("Breadcrumbs", new List<MvcHtmlString>
{
    Html.ActionLink("Albums", "Albums", new { id = "" })
})

<h1>@Model.Album.Title</h1>

@Html.Partial("Parts/ArtistList", new Tuple<string, ICollection<TidalArtist>>("By:", Model.MainArtists))
@Html.Partial("Parts/ArtistList", new Tuple<string, ICollection<TidalArtist>>("Featuring:", Model.FeaturedArtists))

<h2>Tracks:</h2>
<ol>
    @foreach (var track in Model.Tracks.OrderBy(t => t.Track.TrackNumber))
    {
        <li>@Html.ActionLink(track.Track.Title, "Tracks", new { id = track.Track.Id })</li>
    }
</ol>