@model IList<Clockwork.Vault.Query.Tidal.ViewModels.Grouped.ItemsGroupedByIsFavorite<Clockwork.Vault.Dao.Models.Tidal.TidalAlbum>>

@Html.Partial("Breadcrumbs", new List<MvcHtmlString>())

<h1>Albums</h1>

@Html.Partial("~/Views/Tidal/Parts/FavoritesShortcuts.cshtml")

@foreach (var group in Model)
{
    @Html.Partial("~/Views/Tidal/Parts/FavoritesAnchor.cshtml", group.IsFavorite)

    <p>Total: @group.Items.Count</p>

    <ul>
        @foreach (var album in group.Items)
        {
            <li>@Html.ActionLink(album.Title, "Albums", new { id = album.Id })</li>
        }
    </ul>
}