@using Clockwork.Vault.Dao.Models.Tidal
@model Clockwork.Vault.Query.Tidal.ViewModels.TidalArtistExpanded

@Html.Partial("Breadcrumbs", new List<MvcHtmlString>
{
    Html.ActionLink("Artists", "Artists", new { id = "" })
})

<h1>@Model.Artist.Name</h1>

@Html.Partial("Parts/ReleaseList", new Tuple<string, ICollection<TidalAlbum>>("Albums:", Model.Albums))
@Html.Partial("Parts/ReleaseList", new Tuple<string, ICollection<TidalAlbum>>("EPs:", Model.EPs))
@Html.Partial("Parts/ReleaseList", new Tuple<string, ICollection<TidalAlbum>>("Singles:", Model.Singles))
@Html.Partial("Parts/ReleaseList", new Tuple<string, ICollection<TidalAlbum>>("Other Releases:", Model.OtherReleases))

<h2>Non-Album Tracks:</h2>
<ul>
    @foreach (var track in Model.NonAlbumTracks)
    {
        <li>@Html.ActionLink(track.Title, "Tracks", new { id = track.Id })</li>
    }
</ul>