@using Clockwork.Vault.Dao.Models.Tidal
@model Clockwork.Vault.Query.Tidal.ViewModels.TidalTrackExpanded

@Html.Partial("Breadcrumbs", new List<MvcHtmlString>
{
    Html.ActionLink("Tracks", "Tracks", new { id = "" })
})

<h1>@Model.Track.Title</h1>

@Html.Partial("Parts/ArtistList", new Tuple<string, ICollection<TidalArtist>>("By:", Model.MainArtists))
@Html.Partial("Parts/ArtistList", new Tuple<string, ICollection<TidalArtist>>("Featuring:", Model.FeaturedArtists))

@if (Model.Album != null)
{
    <p>
        From album:
        @Html.ActionLink(Model.Album.Title, "Albums", new { id = Model.Album.Id })
    </p>
}

<p>In playlists:</p>
<ul>
    @foreach (var playlist in Model.Playlists)
    {
        <li>@Html.ActionLink(playlist.Title, "Playlists", new { id = playlist.Uuid })</li>
    }
</ul>