
<h1>Tidal Data Import</h1>

<ul>
    <li>@Html.ActionLink("Save Playlists", "SavePlaylists")</li>
    <li>@Html.ActionLink("Save Fav Playlists", "SaveUserFavPlaylists")</li>
    <li>@Html.ActionLink("Save Fav Albums", "SaveUserFavAlbums")</li>
    <li>@Html.ActionLink("Save Fav Artists", "SaveUserFavArtists")</li>
    <li>@Html.ActionLink("Save Fav Tracks", "SaveUserFavTracks")</li>
</ul>