<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clockwork Vault</title>
    <link rel="stylesheet" href="/Content/Site.css"/>
</head>
<body>
    <header>
        <h2>Clockwork Vault</h2>
        <menu id="main-menu">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>
                    Data Import
                    <ul>
                        <li>@Html.ActionLink("Tidal Data Import", "Index", "TidalDataImport")</li>
                    </ul>
                </li>
                <li>
                    Data Sanitization
                    <ul>
                        <li>@Html.ActionLink("Tidal Data Sanitization", "Index", "TidalDataSanitize")</li>
                    </ul>
                </li>
                <li>
                    Data Movement
                    <ul>
                        <li>@Html.ActionLink("Tidal to Master", "Index", "TidalToMaster")</li>
                    </ul>
                </li>
                <li>
                    View Data
                    <ul>
                        <li>@Html.ActionLink("View Tidal Data", "Index", "Tidal")</li>
                    </ul>
                </li>
            </ul>
        </menu>
    </header>
    <div id="main">
        @RenderBody()
    </div>
<footer>
    <p>Clockwork Vault</p>
</footer>
</body>
</html>