
<h2>Tidal to Master</h2>

<ul>
    <li>@Html.ActionLink("Transfer Artists", "TransferArtists")</li>
    <li>@Html.ActionLink("Transfer Albums", "TransferAlbums")</li>
    <li>@Html.ActionLink("Transfer Tracks", "TransferTracks")</li>
    <li>@Html.ActionLink("Transfer Playlists", "TransferPlaylists")</li>
    <li>@Html.ActionLink("Transfer Album Artists", "TransferAlbumArtists")</li>
</ul>